  <div class="container">
    <div class="jumbotron">
      <h1 class="jumboheader">Saved Articles</h1>
      <p class="lead">Save and comment on your favorite articles.</p>
      <p>
        <a class="btn btn-lg" href="/" role="button">Home</a>
      </p>
    </div>

    <div class="row">
      <div class="col-sm-12 scraped-articles">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Panel Title</h3>
          </div>
          <div class="panel-body">Panel Body
            <button type="button" class="btn btn-default pull-right delete-article">Delete Article</button>
            <button type="button" class="btn btn-default pull-right comment-article">Comment</button>
          </div>
        </div>
      </div>
    </div>

  </div>