  <div class="container">
    <div class="jumbotron">
      <h1 class="jumboheader">New York Times Scraper</h1>
      <p class="lead">Get the latest news. Save and comment on your favorite articles.</p>
      <p>
        <a class="btn btn-lg" href="/scrape" role="button">Search New Articles</a>
      </p>
      <p>
        <a class="btn btn-lg" href="/saved" role="button">Go to Saved Articles</a>
      </p>
    </div>

    <div class="row">
      <div class="col-sm-12 scraped-articles">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Panel Title</h3>
          </div>
          <div class="panel-body">Panel Body
            <button type="button" class="btn btn-default pull-right save-article">Save Article</button>
          </div>
        </div>
      </div>
    </div>
    
  </div>